.team {
  margin-bottom: 100px;
  direction: ltr;
}
.team h1 {
  width: 280px;
  text-align: center;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.team .card {
  height: 460px;
  padding: 10px;
  width: 340px;
  margin: auto;
  border: 1px solid rgb(179, 177, 177);
  text-align: center;
  box-shadow: inset 1px 1px 17px rgb(226, 226, 226);
}
.team .card img {
  object-fit: contain;
}

.team .card:hover {
  box-shadow: 1px 1px 18px rgb(207, 207, 207);
  transition: 0.6s;
}

.swiper-pagination-bullet {
  padding: 7px;
}
.team .icon-team {
  background: #eee;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
}

.team-icon {
  background: #0d6efd;
  color: white;
  padding: 9px;
  border-radius: 50%;
  font-size: 16px;
  margin-top: 5px;
}

.team-icon:hover {
  background: #0f489c;
  color: white;
}

.team .card:hover .icon-team {
  display: flex;
  flex-flow: column;
  /* transform: scale(1.1);  transition: all 0.7s ease-in-out; */

}
