.DescribeWeb {
  padding-top: 70px;
  margin-bottom: 100px;
}
.DescribeWeb img {
  width: 90%;
  box-shadow: 1px 1px 18px rgb(214, 212, 212);
  margin-top: 100px;
}

.DescribeWeb .web-text {
  box-shadow: 1px 1px 18px rgb(224, 224, 224);
  margin-top: 100px;
  text-align: center;
  padding-top: 100px;
}
.DescribeWeb .web-text p {
  margin-top: 30px;
  line-height: 30px;
}

.DescribeWeb .web-text h6 {
  line-height: 30px;
}
.DescribeWeb .web-text button {
  margin-top: 20px;
  border: none;
  background: #0d6efd;
  color: white;
  padding: 15px;
  border-radius: 30px;
}

.DescribeWeb .web-text button:hover {
  background: #0e489e;
}
/* medua query */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media all and (max-width: 576px) {
  .DescribeWeb {
    padding-top: 20px;
  }
  .DescribeWeb .web-text {
    padding-top: 30px;
  }
  .DescribeWeb .web-text {
    padding: 20px;
  }
  .DescribeWeb img {
    width: 100%;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media all and (min-width: 576px) and (max-width: 768px) {
  .DescribeWeb {
    padding-top: 20px;
  }
  .DescribeWeb .web-text {
    padding-top: 30px;
  }
  .DescribeWeb .web-text {
    padding: 25px;
  }
  .DescribeWeb img {
    width: 100%;
  }
}
