::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  /* background-color: gray; */
  max-height: 30px;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}
/* navbar */
.navbar-light {
  background-color: #0d6efd !important;
  padding: 3px;
  font-family: "EB Garamond", serif;
  font-family: "Libre Baskerville", serif;
  font-family: "Slabo 27px", serif;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 10;
}
/* icons of phone and sign up  */
.navbar-light .icons {
  position: absolute;
  left: 100px;
}
.navbar-light .btn {
  background-color: white;
  color: #0d6efd;
  margin-left: 10px;
  margin-top: 5px;
  font-weight: 600;
}
.navbar-light .btn:hover {
  background-color: #eee !important;
  color: #0d6efd;
}

/* navbar items */
.navbar-light .nav-link {
  font-size: 21px;
  color: white !important;
}
.navbar-light .nav-link:focus {
  border-bottom: 2px solid white;
  padding-bottom: 6px;
  transition: 0.6s ease;
}
.navbar-light .nav-link:hover {
  color: #eee !important;
}

/* dropdown btn */
.navbar-light .dropdown-toggle {
  background: transparent;
  border: none;
  color: white;
}
.navbar-light .dropdown-toggle:hover {
  color: #eee !important;
}

/* ~````````````````````````modal log in ------------------- */

.ReactModal__Overlay {
  width: 600px;
  height: 400px;
  background-color: #eee;
  position: absolute;
  top: -400px !important;
  right: 30% !important;
  transition: all 0.8s ease !important;
  text-align: center;
  animation: drop 0.8s ease-in-out forwards, swing 2s 2s ease forwards;
  transform-origin: 10px 10px;
  z-index: 1000;
}
@keyframes drop {
  0% {
  }
  75% {
    transform: translateY(650px);
  }
  100% {
    transform: translateY(590px);
  }
}
/* s */
.delete-btn{position: absolute;
top: 0;
right: 0;
background: transparent;
border: none;
font-size: 20px;
color: #0d6efd;
font-weight: 600;
}